*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Inter', Arial, sans-serif;
}

body{
    background:#09090B;
    color:white;
    min-height:100vh;
}


/* Navbar */

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 8%;
    backdrop-filter:blur(15px);
    background:rgba(255,255,255,0.03);
    border-bottom:1px solid rgba(255,255,255,0.08);
}


.logo{
    font-size:26px;
    font-weight:700;
}


nav a{
    color:#aaa;
    text-decoration:none;
    margin-left:25px;
    transition:.3s;
}


nav a:hover{
    color:white;
}


/* Hero */

.hero{
    text-align:center;
    padding:90px 20px;
}


.hero h1{
    font-size:55px;
    background:linear-gradient(90deg,#fff,#777);
    -webkit-background-clip:text;
    color:transparent;
}


.hero p{
    margin:20px auto;
    color:#aaa;
    font-size:18px;
    max-width:600px;
}


button{
    margin-top:25px;
    padding:15px 35px;
    border:none;
    border-radius:30px;
    background:white;
    color:black;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}


button:hover{
    transform:scale(1.05);
}


/* Feature Cards */

.features{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
    padding:40px 8%;
}


.card{
    padding:30px;
    border-radius:25px;

    background:
    linear-gradient(
    145deg,
    rgba(255,255,255,0.08),
    rgba(255,255,255,0.02)
    );

    border:1px solid rgba(255,255,255,0.1);

    backdrop-filter:blur(20px);

    transition:.4s;
}


.card:hover{
    transform:translateY(-10px);
    box-shadow:
    0 0 30px rgba(255,255,255,0.15);
}


.icon{
    font-size:40px;
    margin-bottom:20px;
}


.card h2{
    margin-bottom:10px;
}


.card p{
    color:#999;
}


/* Footer */

footer{
    text-align:center;
    padding:30px;
    color:#777;
}
